{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block main %}
    <h3>Change password</h3>
    <form action="" method="post">
        <div class="form-container">
            <div class="form-group">
                <input type="text" class="form-control" disabled="disabled"
                       name="telephone" id="telephone" value="{{ user.telephone  }}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" disabled="disabled"
                       name="username" id="username" value="{{ user.username  }}">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="password" name="password0" id="password0">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="update password" name="password" id="password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="confirm password" name="password2" id="password2">
            </div>
            {% if password_wrong %}
                Incorrect password!
            {% elif change_password_wrong %}
                Password can not be null!
            {% elif change_password_wrong_differ %}
                Entered passwords differ!
            {% elif change_password_successfully %}
                Password was changed successfully!
            {% endif %}
            <div class="form-group">
                <button class="btn btn-block" id="submit">Confirm</button>
            </div>
        </div>
    </form>
{% endblock %}